:root{
    --darktone : rgb(5, 12, 24); 
    --background_color: rgb(10, 24, 48); 
    --midtone : rgb(20, 48, 96);
    --highlight_color: ghostwhite;
    --accent: aquamarine; 
    --dark_accent: darkslateblue; 
}

/*http://davidbau.com/colors/*/